[user]
    name = Joshua Miller
    email = jsmiller@uchicago.edu
[core]
    editor = emacs -nw
[merge]
    tool = colordiff
[alias]
    branch-name = rev-parse --abbrev-ref HEAD
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    rc = checkout release_candidate
    new = "!f() { git commit -p; git stash && git rc && git yank && git checkout -b ${1}; }; f"
    master = checkout master
    ship = "!if [ $(git branch-name) == 'release_candidate' ] || [ $(git branch-name) == 'master' ]; then echo on $(git branch-name), refusing to ship; else git push origin $(git branch-name); git v; fi"
    forceship = "!if [ $(git branch-name) == 'release_candidate' ] || [ $(git branch-name) == 'master' ]; then echo on $(git branch-name), refusing to ship; else git push -f origin $(git branch-name); git v; fi"
    yank = "!git pull --ff-only origin $(git branch-name)"
    fo = fetch origin
    wip = commit -nam 'wip'
    sync = "!f() { git fo; git rebase -i origin/${1:-release_candidate}; }; f"
    fix = "!f() { git commit -nam 'fix'; git rebase -i HEAD~2; }; f"
    hash = "!f() { git log | head -n1 | cut -d' ' -f2 | tee /dev/stderr | tr -d '\n' | pbcopy;}; f"
    peel = "!f() { git reset --soft HEAD^; git diff --staged --name-only | xargs git reset HEAD ;}; f"
    transplant = "!f() { git stash && git checkout ${1} && git stash pop ;}; f"
    v = "!f() { open $( git config --get remote.origin.url | sed -e 's|git@github.com:|https://github.com/|g' ) ;}; f"
    commit = commit -S
    cob = checkout -b
    co = checkout
    ss = stash show -v
    p = commit -p
    diffr = diff origin/release_candidate
    review = "!f() { tmux new-window -d -n tmux-zoom 'clear && echo TMUX ZOOM && read' && tmux swap-pane -s tmux-zoom.0 && tmux select-window -t tmux-zoom && tmux display 'ZOOMED IN'; cdiff -w $(expr $(tput cols) / 2) -s -c always | less -r && git commit -a; tmux last-window && tmux swap-pane -s tmux-zoom.0 && tmux kill-window -t tmux-zoom && tmux display 'ZOOMED OUT'; }; f"
    r = "!f() { git review; }; f"
[push]
     default = simple
[github]
    user = millerjs
[color "diff"]
    new = green
[rerere]
	enabled = true
[diff]
	algorithm = patience
